body {
  background-image: url(pics/jeremy-bishop-G9i_plbfDgk-unsplash.jpg);
  background-size: cover;
  background-position: center;
      padding: 95px;

}

.card {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 6px 18px rgba(3, 7, 11, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.03);
}



#home {
  display: flex;
  text-decoration: none;
}

#about {
  display: flex;
  text-decoration: none;
}

/* For accent highlights like terminal style */
.accent {
  color: #6be1a2;
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
}

p {
  font-family: fantasy;
    font-size: 35px;
    color: #446187db;
    text-align: left;
    height: 242px;
    margin: 15px;
    padding: 14px;
}


.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
} 
footer {
    height: 60px;
    width: 100%;
    background: rgba(58, 3, 3, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.icons a {
    font-size: 40px;
    margin: 0 30px;
    color: bisque;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
    height: 90px;
}

.icons a:hover {
    transform: scale(1.2);
}
.Profile {
      width: 213px;
    height: 691px;
    object-fit: cover;
    border: #2d7f9a;
    border-radius: 57px;
}
.icons a:hover {
    transform: scale(1.2);
}
.icons a:hover .fa-facebook {
    color: rgb(24, 119, 242);
}

.icons a:hover .fa-whatsapp {
    color: rgb(37, 211, 102);
}
.icons a:hover .fa-github {
    color: rgb(255, 255, 255);
}
.icons a:hover .fa-linkedin{
   color: rgb(10, 102, 194) ;
}

.right {
  width: 900px;
  height: 700px;
}

.left {
  text-align: center;
  color: #00f6d4ad;;
  height: 66px;
}



.highlight {
  background-color: #a9b0c3;
  font-weight: lighter;
  padding: 2px 4px;
}

header {
  height: 60px;;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #000000;
  position: fixed;

}

header ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

header div {
  float: right;
  margin-right: 20px;
      font-family: system-ui;
    font-size: inherit;
}


header a:hover {
  text-decoration: underline;
  color: darkcyan;
}

header li {
  font-style: italic;
}

header a {
  text-decoration: none;
  color: white;
}

#a {
  width: 150px;
  
}

h3 {
    text-align: center;
    color: #5f8f8f;
    height: 25px;
    font-family: cursive;
    font-size: 36px;
    width: 1042px;
}

h2{
     text-align: center;
    color: #5f8f8f;
    height: 22px;
    font-family: cursive;
    font-size: 36px;
    margin: 48px;
}
h1{
    text-align: center;
    color: #5f8f8f;
    height: 22px;
    font-family: cursive;
    font-size: 36px;
}

.top {
  margin-top: 114px;
  margin-left: 119px;
}
