body {
  background-image: url(../pics/photo.jpg.png);
  background-size: cover;
  background-position: center;

}

.card {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 6px 18px rgba(3, 7, 11, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.03);
}



#home {
  display: flex;
  text-decoration: none;
}

#about {
  display: flex;
  text-decoration: none;
}

/* For accent highlights like terminal style */
.accent {
  color: #6be1a2;
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 36px;
  color: rgb(255, 255, 255);
  text-align: -webkit-center;
  height: 379px;
}

.social-media {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  color: rgb(0, 0, 0);
}

.social-buttons {
  display: flex;
  gap: 12px;
}

.btn {
  padding: 30px 95px;
  text-decoration: none;
  font-weight: 600;
  color: white;
  border-radius: 8px;
  transition: 0.3s;
}

/* Colors */
.fb {
  background: #1877F2;
}

.ig {
  background: #E4405F;
}

.li {
  background: #023b74;
}

.gh {
  background: #222;
}

.btn:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}

.Profile {
  width: 500px;
  height: 550px;
  object-fit: cover;
  border: #071017;
  box-shadow: #ff0000;
  border-radius: 500px;
}

.right {
  width: 900px;
  height: 700px;
}

.left {
  text-align: center;
  color: #ffffff;
  height: 66px;
}



.highlight {
  background-color: #a9b0c3;
  font-weight: lighter;
  padding: 2px 4px;
}

header {
  height: 60px;;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgb(255 255 255 / 55%);
}

header ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

header div {
  float: right;
  margin-right: 20px;
}

header a:hover {
  text-decoration: underline;
  color: darkcyan;
}

header li {
  font-style: italic;
}

header a {
  text-decoration: none;
  color: white;
}

#a {
  width: 150px;
  ;
}

h3 {
  text-align: center;
  color: #ffffff;
  height: 66px;
}